# ========================
# .NET / C#
# ========================
bin/
obj/

# ========================
# Visual Studio
# ========================
.vs/

# ========================
# Rider / JetBrains
# ========================
.idea/

# ========================
# Logs
# ========================
*.log
